<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>武汉市市旅游信息</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_q7ptjm0r8n.css">
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/image_slide.min.js"></script>



</head>

<body>
<div class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/">图片</a>
        </div>
        <ul class="nav" style="font-size: 18px">
            <li class="active"><a href="#">首&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li><a href="#">景&nbsp&nbsp&nbsp&nbsp点</a></li>
            <li><a href="#">线&nbsp&nbsp&nbsp&nbsp路</a></li>
            <li><a href="#">分&nbsp&nbsp&nbsp&nbsp享</a></li>
            <li><a href="#">个人中心</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#" class="signin-btn">登录</a> /
            <a href="#" class="signup-btn">注册</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="wrapper">
    <div class="container-wrapper">
        <div class="image-slide-show" id="banner-group">
            <ul class="banner-ul" id="banner-ul">
                <li><a href="#"></a><img src="../../dist/images/1.png" alt=""></li>
                <li><a href="#"><img src="../../dist/images/2.png" alt=""></a></li>
                <li><a href="#"><img src="../../dist/images/3.png" alt=""></a></li>
                <li><a href="#"><img src="../../dist/images/4.png" alt=""></a></li>
            </ul>
            <span class="arrow left-arrow">‹</span>
            <span class="arrow right-arrow">›</span>
        </div>
        <div class="scene-list-group">
            <div class="scene-list-title">热门景点</div>
            <div class="scene-list-contain">
                <ul class="scene-list-contain-ul">
                    <li>
                        <span class="span-img"><img src="../../dist/images/武汉大学.jpg" alt=""></span>
                        <div class="scene-detail">
                            <p class="scene-pm" style="font-size: 17px;"><span>景点排名：&nbsp&nbsp</span><span>第1名</span></p>
                            <p class="scene-name" style="font-size: 17px;"><span>景点：&nbsp&nbsp</span><span>武汉大学</span></p>
                            <p class="scene-score" style="font-size: 17px;"><span>评分：&nbsp&nbsp</span><span>4.6</span></p>
                            <p class="scene-text-detail" style="font-size: 17px;"><span>简介：&nbsp&nbsp</span><span>武汉大学前身为清末湖广总督张之洞创立的自强学堂，1928...</span></p>
                        </div>
                        <span class="scene-detail-a"><a href="#">查看详情</a></span>
                    </li>
                </ul>
            </div>
            <div class="scene-list-more"><a href="#">查看更多景点</a></div>
        </div>
        <div class="goods-list-group">
            <div class="goods-list-title">热门路线</div>
            <div class="goods-list-contain">
                <div class="goods-list-contain">
                <ul class="goods-list-contain-ul">
                    <li>
                        <span class="span-img"><img src="../../dist/images/武汉大学.jpg" alt=""></span>
                        <div class="goods-detail">
                            <p class="goods-pm" style="font-size: 17px;"><span>销量排名：&nbsp&nbsp</span><span>第1名</span></p>
                            <p class="goods-name" style="font-size: 17px;"><span>线路：&nbsp&nbsp</span><span>武汉大学-东湖</span></p>
                            <p class="goods-score" style="font-size: 17px;"><span>价格：&nbsp&nbsp</span><span>3999￥</span></p>
                            <p class="goods-text-detail" style="font-size: 17px;"><span>简介：&nbsp&nbsp</span><span>假装这里有简介。。。</span></p>
                        </div>
                        <span class="goods-detail-a"><a href="#">查看详情</a></span>
                    </li>

                </ul>
            </div>
            </div>
            <div class="goods-list-more"><a href="#">查看更多线路</a></div>
        </div>
        <div class="share-list-group">
            <div class="share-list-title">热门分享</div>
            <div class="share-list-contain">
                <ul class="share-list-contain-ul">
                    <li>
                        <div class="share-detail">
                            <p>这个网站做的太漂亮了吧！</p>
                        </div>
                        <div class="share-auth-date">
                            <span class="share-auth"><strong>会漂浮的大长胡子</strong></span>
                            <span class="share-date"><strong>2018.09.01</strong></span>
                        </div>

                    </li>
                    <li>
                        <div class="share-detail">
                            <p>这个网站做的太漂亮了吧！</p>
                        </div>
                        <div class="share-auth-date">
                            <span class="share-auth"><strong>会漂浮的大长胡子</strong></span>
                            <span class="share-date"><strong>2018.09.01</strong></span>
                        </div>

                    </li>
                    <li>
                        <div class="share-detail">
                            <p>这个网站做的太漂亮了吧！</p>
                        </div>
                        <div class="share-auth-date">
                            <span class="share-auth"><strong>会漂浮的大长胡子</strong></span>
                            <span class="share-date"><strong>2018.09.01</strong></span>
                        </div>

                    </li>

                </ul>
            </div>
            <div class="share-list-more"><a href="#">查看更多分享</a></div>
        </div>
    </div>

    <div class="sidebar-wrapper">
        <div class="sidebar-name">武汉市旅游在线</div>
        <div class="sidebar-image"><img src="../../static/careus.png" alt=""></div>
        <div class="sidebar-join-us">加入我们</div>
        <div class="sidebar-join"><img src="../../static/join.png" alt=""></div>
    </div>


</div>
</div>
<div class="footer">
    <div class="group">
        <div class="inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">热门景点</a></li>
                    <li><a href="#">热门线路</a></li>
                    <li><a href="#">热门分享</a></li>
                    <li><a href="#">个人中心</a></li>
                    </ul>
                </div>

                <div class="line2">
                    <p class="address">地址：武汉市洪山区武昌首义学院</p>
                    <p class="tel">联系方式：400-810-1090 （工作日10点-18点）</p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>