
.btn-group{
  float: left;
}
.tips{
  float: left;
}
.banner-items{
  width: 1000px;
}
.thumbnail-group{
  float: left;
  width: 600px;

  .thumbnail{
    width: 100%;
  }
}
.more-group{
  float: left;
  width: 260px;
  margin-left: 60px;
}