$pageWidth: 1600px;
$navHeight: 80px;
$containerBoxWidth: 1150px;
$sidebarBoxWidth: 400px;

$bannerWidth:$containerBoxWidth;
$bannerHeight:300px;
$assistFontColor: #878787;
$themeColor: #5c87d9;
$mainFontColor: #212121;

$lineColor: #eeeeee;
$payColor: #f76363;
$freeColor: #7ed321;