{% extends 'base/front_base.html' %}

{% block title %}支付订单{% endblock %}

{% block stylecss %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pay_order.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
    <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/myalert.min.js' %}"></script>
    <script src="{% static 'js/edit_order.min.js' %}"></script>
    <style>
    .wrapper-pay{
        margin-top: 40px;
        border: 1px solid #eeeeee;
    }
    .wrapper-pay .title{
        width: 100%;
        height: 40px;
        background: #f0f0f0;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
    }
    </style>
{% endblock %}

{% block container %}
    <div class="wrapper-pay" >
    <div class="title">我的订单</div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>线路名称</th>
                <th>线路场次</th>
                <th>出行日期</th>
                <th>单价(元)</th>
                <th>人数</th>
                <th>小计（元）</th>
                <th>支付方式</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td align="left">{{ order.goods.title }}</td>
                <td>{{ order.which_time }}</td>
                <td>{{ order.which_date }}</td>
                <td>{{ order.goods.prices }}</td>
                <td>{{ order.person_nums }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.istype }}</td>
                <td>{{ order.status }}</td>
                <td><button  class="btn btn-danger btn-xs delete-btn" data-order-id="{{ order.uid }}" data-status="{{ order.status }}">退订</button></td>
            </tr>
            {% endfor %}


            </tbody>
        </table>

    </div>
{% endblock %}